<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>App Olist</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <div class="vh-100">
        <nav class="navbar bg-primary">
            <div class="container">
                <a href="." class="navbar-brand">
                    <figure>
                        <h2 class="display-6 fw-bold bold text-white">Olist</h2></span>
                    </figure>
                </a>
                <ul class="navbar-nav flex-row fw-bold">
                    <li class="nav-item px-3"><a class="nav-link  text-white" href="http://127.0.0.1:8000/api/">API</a></li>
                </ul>
            </div>
        </nav>       
    </div>
</body>
</html>